.body{
    margin-top: 40px;
}
.body hr{
    margin-top: 30px;
    height: 1px;
    background-color: gray;
    border: none;
}
.body-heading{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.explore-elements-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.explore-elements-items img{
    border: 7px solid transparent;
}
.explore-elements-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.explore-elements-items .active{
    border-radius: 200px;
    border: 4px solid tomato;
    padding: 2px;
}